.row
  .span10
    = semantic_form_for(@character, url: characteristic_url, remote: true) do |f|
      %table.edit-characteristics.table.table-striped.table-condensed
        %thead
          %th Species
          %th Talents
          %th Attach
          %th Item
          %th Buy
          %th Final

        - @character.characteristics.each do |cc|
          %tr.values
            %td= cc.species_amount
            %td= cc.talent_amount
            %td= cc.attach_amount
            %td= cc.item_amount
            %td.buy
              = div_for(cc) do
                .max_purchasable= cc.max_purchasable_rank
                = hidden_field_tag("character[purchased_char_ranks][#{cc.id}]", cc.purchased_amount)

                %a.minus -
                .current-value= cc.purchased_amount
                %a.plus +
            %td.characteristic
              .value= cc.total_amount
              .name= cc.name
