- @active = :background

= semantic_form_for(@character, url: background_url, remote: true) do |f|
  .row
    .span2
      .form-horizontal
        = f.inputs do
          = f.input :social_class, as: :select, collection: @social_classes
          .social_class_detail.well
            - @social_classes.each do |social_class|
              = div_for(social_class, style: "display: none;") do
                = format_description(social_class.description)
          = f.input :background, as: :select, collection: @backgrounds
          .background_detail.well
            - @backgrounds.each do |background|
              = div_for(background, style: "display: none;") do
                = format_description(background.description)

    .span5.offset1
      .form-horizontal
        .controls
          = f.label :story
          = f.text_area :story, class: "span5", rows: 20

  .row
    .span8.form-actions
      = f.submit(class: "btn btn-success")
