- @active = :background

= semantic_form_for(@character, url: background_url) do |f|
  .row
    .span2
      .form-horizontal
        = f.inputs do
          = f.input :social_class, as: :select, collection: @social_classes
          .social_class_detail.well
          = f.input :background, as: :select, collection: @backgrounds
          .background_detail.well

    .span5.offset1
      .form-horizontal
        .controls
          = f.label :story
          = f.text_area :story, class: "span5", rows: 20

  .row
    .span8
      .form-horizontal
        .controls
          = f.submit(class: "btn btn-success")
