.row
  .span10
    = semantic_form_for(@character, url: species_url, remote: true) do |f|
      %p= @character.first_specialization.name

    %table.talents
      - @character.first_specialization.talent_rows.each do |row|
        %tr
          - row.talent_boxes.each do |box|
            %td{class: ("connector-up" if box.up)}
            %td
        %tr
          - row.talent_boxes.each do |box|
            %td.talent.disabled
              %label.checkbox.name
                %input{type: "checkbox"}
                = box.name
              %p= box.description
              %h4.cost
                Cost:
                = row.cost
            %td{class: ("connector-right" if box.right)}

    %p &nbsp;
