.row
  .span10
    %p= @character.first_specialization.name

    %table.talents
      - @character.first_specialization.talent_rows.each do |row|
        %tr
          - row.talent_boxes.each do |box|
            %td{class: ("connector-up" if box.up)}
            %td
        %tr
          - row.talent_boxes.each do |box|
            - disabled = nil
            %td.talent{class: disabled}
              = semantic_form_for(@character, url: species_url, remote: true) do |f|
                %label.checkbox.name
                  = hidden_field_tag("character[talent_box_id[#{box.id}]][]", false)
                  = check_box_tag("character[talent_box_id[#{box.id}]][]", true, @character.talent_boxes.include?(box), disabled: disabled)
                  = box.name
                %p= box.description
                %h4.cost
                  Cost:
                  = row.cost
            %td{class: ("connector-right" if box.right)}

    %p &nbsp;
