.row
  .span10
    = semantic_form_for(@character, url: species_url, remote: true) do |f|
      %p= @character.first_specialization.name

    %table.table
      - @character.first_specialization.talent_rows.each do |row|
        %tr
          - row.talent_boxes.each do |box|
            %td
            %td= box.up
            %td
        %tr
          - row.talent_boxes.each do |box|
            %td= box.left
            %td= box.name
            %td= box.right
        %tr
          - row.talent_boxes.each do |box|
            %td
            %td= box.down
            %td
