-# encoding: utf-8

= semantic_form_for(@character, url: species_url, remote: true) do |f|
  .row
    .span4
      = f.input :species, as: :select, include_blank: false, collection: @species

      .well.option_choices
        - @option_choices.each do |choice|
          %p
            %a.btn= choice.name

          .controls
            = select_tag("option", options_from_collection_for_select(choice.options, :id, :name))

          - choice.options.each do |option|
            = div_for(option) do
              %p= option.description

              - option.skill_trainings.each do |skill_training|
                - if skill_training.non_career?

                  %h4 Select Non-Career Skills

                  %p
                    You may choose
                    = skill_training.skill_count
                    more non-career skills.

                  - @non_career_skills.each do |skill|
                    %p= skill.name


    .span6.characteristics_details
      = render partial: 'characters/characteristics', locals: {object: @character.species}

      %dl.dl-horizontal
        %dt Wound Threshold
        %dd
          = @character.species.wound_threshold
          + Brawn
        %dt Strain Threshold
        %dd
          = @character.species.strain_threshold
          + Willpower
        %dt Starting Experience
        %dd
          = @character.species.starting_xp
          XP

        %p &nbsp;

        .description.well
          = format_description(@character.species.description)


  .form-actions
    = f.submit(class: "btn btn-large btn-success")
