-# encoding: utf-8

.row
  .span4
    = semantic_form_for(@character, url: species_url, remote: true) do |f|
      = f.input :species, as: :select, include_blank: false, collection: @species

    .well.option_choices
      %p.button-group
        - @option_choices.each do |choice|
          %a.btn.option_choice{"data-target" => dom_id(choice)}= choice.name

      - @option_choices.each do |choice|
        = div_for(choice, style: "display: none;") do
          .controls
            = semantic_form_for(@character, url: species_url, remote: true) do |f|
              - selected_choice = @character.species_option_for_choice(choice)
              = select_tag("character[species_option]", options_from_collection_for_select(choice.options, :id, :name, selected_choice.id))

          - choice.options.each do |option|
            = div_for(option, style: "display: none;") do
              %p= option.description

              - option.skill_trainings.each do |skill_training|
                - if skill_training.non_career?
                  %h4 Select Non-Career Skills

                  %p
                    You may choose
                    = @character.free_species_skill_ranks_remaining
                    more non-career skills.

                  = semantic_form_for(@character, url: species_url, remote: true) do |f|
                    - @non_career_skills.each do |cs|
                      - if cs.species_amount > 0 || @character.more_free_species_skill_ranks?
                        - disabled = nil
                      - else
                        - disabled = "disabled"

                      %label.checkbox{class: disabled}
                        = hidden_field_tag("character[species_skill_ranks[#{cs.skill.id}]][]", false)
                        = check_box_tag("character[species_skill_ranks[#{cs.skill.id}]][]", true, cs.species_amount > 0, disabled: disabled)
                        = cs.name

  .span6.characteristics_details
    = render partial: 'characters/characteristics', locals: {object: @character.species}

    %dl.dl-horizontal
      %dt Wound Threshold
      %dd
        = @character.species.wound_threshold
        + Brawn
      %dt Strain Threshold
      %dd
        = @character.species.strain_threshold
        + Willpower
      %dt Starting Experience
      %dd
        = @character.species.starting_xp
        XP

      %p &nbsp;

      .description.well
        = format_description(@character.species.description)
