- @active = :species

%h1= @character.name

%h2 Species

- if @character.species?
  %p NOTE that changing your species will reset your Attributes and your spent Experience Points!

.form-horizontal
  = form_for @character do |f|

    .non_js
      .control-group
        %label.control-label{for: "character_species"} Species

        .controls
          = f.select(:species, @species.map(&:name))

    .species.js_only
      - @species.each do |species|
        .species_module.well
          %input.hidden{type: "hidden", value: species.name}

          %h2= species.name

          .image

          %ul.attributes.unstyled
            %li
              %strong Brawn
              = species.attributes[:brawn]
            %li
              %strong Agility
              = species.attributes[:agility]
            %li
              %strong Intellect
              = species.attributes[:intellect]
            %li
              %strong Cunning
              = species.attributes[:cunning]
            %li
              %strong Willpower
              = species.attributes[:willpower]
            %li
              %strong Presence
              = species.attributes[:presence]

          %p
            %strong Base XP
            100

          %p
            %strong Wound Threshold
            Brawn + 10

          %p
            %strong Strain Threshold
            Willpower + 10

    .form-actions
      = f.submit "Save and Continue", class: "btn btn-success"
