.row
  .span6
    = semantic_form_for(@character, url: career_url, remote: true) do |f|
      = f.input :career, as: :select, include_blank: false, collection: @careers

      .description.well
        = format_description(@character.career.description)

  .span4
    = semantic_form_for(@character, url: career_url, remote: true) do |f|
      %h4 Career Skills

      %p
        You may choose
        = @character.free_career_skill_ranks_remaining
        more skills.

      .controls
        - @career_skills.each do |cs|
          - if cs.career_amount > 0 || @character.more_free_career_skill_ranks?
            - disabled = nil
          - else
            - disabled = "disabled"

          %label.checkbox{class: disabled}
            = hidden_field_tag("character[career_skill_ranks[#{cs.skill.id}]][]", false)
            = check_box_tag("character[career_skill_ranks[#{cs.skill.id}]][]", true, cs.career_amount > 0, disabled: disabled)
            = cs.name


.row
  .span6
    = semantic_form_for(@character, url: career_url, remote: true) do |f|
      = f.input :first_specialization, as: :select, include_blank: false, collection: @specializations

      .description.well
        = format_description(@character.first_specialization.try(:description))

  .span4
    = semantic_form_for(@character, url: career_url, remote: true) do |f|
      %h4 Specialization Skills

      %p
        You may choose
        = @character.free_specialization_skill_ranks_remaining
        more skills.

      .controls
        - @specialization_skills.each do |cs|
          - if cs.specialization_amount > 0 || @character.more_free_specialization_skill_ranks?
            - disabled = nil
          - else
            - disabled = "disabled"

          %label.checkbox{class: disabled}
            = hidden_field_tag("character[specialization_skill_ranks[#{cs.skill.id}]][]", false)
            = check_box_tag("character[specialization_skill_ranks[#{cs.skill.id}]][]", true, cs.specialization_amount > 0, disabled: disabled)
            = cs.name

    .controls

