- @active = :description

= semantic_form_for(@character, url: description_url, remote: true) do |f|
  .row
    .span4
      .form-horizontal
        = f.inputs do
          = f.input :name
          = f.input :player_name
          = f.input :gender, as: :select, collection: ["Male", "Female", "Other"], input_html: {class: "input-medium"}
          = f.input :age, input_html: {class: "input-small"}
          = f.input :height, input_html: {class: "input-small"}
          = f.input :build, input_html: {class: "input-medium"}
          = f.input :hair, input_html: {class: "input-medium"}
          = f.input :eyes, input_html: {class: "input-medium"}
          = f.input :notable_features, input_html: {rows: 5}

    .span4
      .form-horizontal
        .controls
          #portrait

          %p= link_to("Select Portrait", "", class: "btn select-portrait")

          .well.portrait-upload{style: "display: none;"}
            .control-group
              %p Select stock portrait:
              = select_tag(:stock_portrait, options_for_select(@species_images), class: 'input-medium')

            .control-group
              %p Select from file:
              = f.file_field :portrait

            .control-group
              %p Select from URL:
              = text_field_tag('portrait_url', '', class: 'input-medium')

            %a.close-portrait.btn.btn-danger Close

        = f.input :earned_experience, as: :number
        = f.input :credits


    .row
      .span8.form-actions
        = f.submit(class: "btn btn-success")

