- @active = :description

= semantic_form_for(@character, url: description_url) do |f|
  .row
    .span4
      .form-horizontal
        = f.inputs do
          = f.input :name
          = f.input :player_name
          = f.input :gender, as: :select, collection: ["Male", "Female", "Other"], input_html: {class: "input-medium"}
          = f.input :age, input_html: {class: "input-small"}
          = f.input :height, input_html: {class: "input-small"}
          = f.input :build, input_html: {class: "input-medium"}
          = f.input :hair, input_html: {class: "input-medium"}
          = f.input :eyes, input_html: {class: "input-medium"}
          = f.input :notable_features, input_html: {rows: 5}

    .span4
      .form-horizontal
        = f.input :earned_experience, as: :number
        = f.input :credits

    .row
      .span8
        = f.submit(class: "btn btn-success")

