.row
  = semantic_form_for(@character, url: skill_url, remote: true) do |f|
    %table.table.span10
      %thead
        %th Skill
        %th Career
        %th Type
        %th Buy

      %tbody
        - @character.character_skills.each do |cs|
          %tr
            %td= cs.skill.name
            %td= career?(cs)
            %td= cs.skill_type
            %td
              = select_tag("character[purchased_skill_ranks][#{cs.id}]", options_for_select(0..5, cs.purchased_amount))
