.row
  = semantic_form_for(@character, url: skill_url, remote: true) do |f|
    %table.table.table-striped.table-condensed.span10
      %thead
        %th Skill
        %th Career?
        %th Type
        %th Species
        %th Career
        %th Talent
        %th Attach
        %th Item
        %th Buy
        %th Rank

      %tbody
        - @character_skills.each do |cs|
          %tr
            %td= cs.skill.name
            %td= career?(cs)
            %td= cs.skill_type
            %td= cs.species_amount
            %td= cs.career_amount.to_i + cs.specialization_amount.to_i
            %td= cs.talent_amount
            %td= cs.attach_amount
            %td= cs.item_amount
            %td.rank
              - max_purchasable_amount = 5 - cs.non_purchased_amount
              = select_tag("character[purchased_skill_ranks][#{cs.id}]", options_for_select(0..max_purchasable_amount, cs.purchased_amount))
            %td
              = cs.total_amount
