.navbar.navbar-fixed-top
  .navbar-inner
    .container
      = link_to("Edge", root_url, class: "brand")
      .nav-collapse.collapse
        %ul.nav
          %li= link_to("Characters", characters_url)

      .nav-collapse.collapse.pull-right
        %ul.nav
          - if current_user
            - if current_user.guest?
              %li= link_to("Guest", "")
            %li= link_to("Log out", logout_url)
          - else
            %li= link_to("Sign up", signup_url)
            %li= link_to("Log in", login_url)

