%table.table-condensed.characteristics
  %tr.values
    %td
      .value= object[:brawn]
      .name Brawn
    %td
      .value= object[:agility]
      .name Agility
    %td
      .value= object[:intellect]
      .name Intellect
    %td
      .value= object[:cunning]
      .name Cunning
    %td
      .value= object[:willpower]
      .name Willpower
    %td
      .value= object[:presence]
      .name Presence
