%table.table-condensed.characteristics
  %tr.values
    %td
      .value= thing.brawn
    %td
      .value= thing.agility
    %td
      .value= thing.intellect
    %td
      .value= thing.cunning
    %td
      .value= thing.willpower
    %td
      .value= thing.presence
  %tr.names
    %td Brawn
    %td Agility
    %td Intellect
    %td Cunning
    %td Willpower
    %td Presence
