#character_xp_details.row
  %table#xp.table.table-bordered.span10
    %tr
      %th Start XP
      %td= @character.starting_experience
      %th Earned XP
      %td= @character.earned_experience
      %th Total XP
      %td= @character.total_experience
      %th Used XP
      %td 0
      %th Unused XP
      %td 110

.row
  %dl.dl-horizontal.span2
    %dt Name
    %dd= @character.name

    %dt Species
    %dd Droid

    %dt Career
    %dd Bounty Hunter

  %dl.dl-horizontal.span2
    %dt Credits
    %dd= number_with_delimiter(@character.credits)

    %dt Encum
    %dd 0/7

    %dt Oblig/Duty
    %dd 15/0

  .span5.characteristics_details
    %table.table-condensed.characteristics
      %tr.values
        %td
          .value 2
        %td
          .value 2
        %td
          .value 2
        %td
          .value 2
        %td
          .value 2
        %td
          .value 2
      %tr.names
        %td Brawn
        %td Agility
        %td Intellect
        %td Cunning
        %td Willpower
        %td Presence

    %table.table-condensed
      %tr
        %td Wound
        %td Strain
        %td Defense
        %td Soak

      %tr
        %td 12
        %td 12
        %td
          %table.table-condensed
            %tr
              %td 1
              %td 1
            %tr
              %td Ranged
              %td Melee
        %td 3

