#character_xp_details.row
  %table#xp.table.table-bordered.span10
    %tr
      %th Start XP
      %td= @character.starting_experience
      %th Earned XP
      %td= @character.earned_experience
      %th Total XP
      %td= @character.total_experience
      %th Used XP
      %td= @character.used_experience
      %th Unused XP
      %td= @character.unused_experience

.row
  %dl.dl-horizontal.span2
    %dt Name
    %dd= @character.name || "&nbsp;".html_safe

    %dt Species
    %dd= @character.species.name

    %dt Career
    %dd= @character.career.try(:name)

    %dt Specs
    %dd= @character.all_specializations.pluck(:name).join(", ")

  %dl.dl-horizontal.span2
    %dt Credits
    %dd= number_with_delimiter(@character.credits)

    %dt Encum
    %dd 0/7

    %dt Obligation
    %dd= @character.total_obligation

    %dt Duty
    %dd= @character.total_duty

  .span5.characteristics_details
    = render partial: 'characteristics', locals: {object: @character.characteristic_amounts}

    %table.table-condensed
      %tr
        %td Wound
        %td Strain
        %td Defense
        %td Soak

      %tr
        %td 12
        %td 12
        %td
          %table.table-condensed
            %tr
              %td 1
              %td 1
            %tr
              %td Ranged
              %td Melee
        %td 3

#rankables
  %h2
    Ranks:
    = Rank.count

    Rankables:
    = Rankable.count

