= semantic_form_for @character do |f|
  = f.inputs :name

  .obligations
    %h3 Obligation
    = render 'obligation', show: "block"
    = render 'obligation', show: "none"

  %button.add_obligation.btn.btn-success
    %i.icon-plus.icon-white
    Add Obligation

  = f.actions
