%table.table.table-striped.table-bordered
  %tr
    %th.skill_name Skill Name
    %th.career Career?
    %th.rank Rank

  - skills.each do |skill|
    %tr{id: identifier(skill.name), class: (skill.career_yn? ? "career" : "")}
      %td.skill_name
        %strong= skill.name
        = "(#{skill.ch})"
      %td.career
        = skill.career_yn?
      %td.rank
        = skill.rank

