%h1 Characters

%p.btn-group
  - if current_user
    = link_to("New", new_character_url, class: "btn")
    = link_to("Import", "", class: "import btn")
  - else
    = link_to("New", users_url(create_character: true), method: :post, class: "btn")

.import-form{style: "display: none;"}
  %p Upload a file

  = form_tag(import_characters_url, multipart: true, method: :post) do
    %p= file_field_tag 'character'

    %p= submit_tag("Upload", class: "btn")



%table.table.table-bordered
  %tr
    %th Name
    %th Player
    %th Species
    %th Career
    %th
  - @characters.each do |character|
    %tr
      %td
        = link_to(character.name, new_description_url(character))
      %td= character.player_name
      %td
        Droid
      %td
        Bounty Hunter

      %td.actions
        .btn-group
          = link_to("Export", export_character_url(character), class: "btn")
          = link_to("Copy", copy_character_url(character), class: "btn")
          = link_to("Delete", character_url(character), method: "delete", class: "btn")
