- @active = :show

%h1= @character.name

%h4
  Species:
  - if @character.species.present?
    = @character.species.name.capitalize
  - else
    = link_to("Add Species", character_species_index_url(@character))

- unless @character.species.present?
  %p Your character's starting attributes and Experience Points will be determined by your species.

.attributes
  %dl.dl-horizontal
    %dt Brawn
    %dd= @character.brawn
    %dt Agility
    %dd= @character.agility
    %dt Cunning
    %dd= @character.cunning
    %dt Intellect
    %dd= @character.intellect
    %dt Willpower
    %dd= @character.willpower
    %dt Presence
    %dd= @character.presence

%p
  %strong Career
  = @character.career.try(:name)

%p
  %strong Specializations
  = @specializations.join(", ")

%p
  %strong Total Experience
  = @character.total_xp

%p
  %strong Unused Experience
  = @character.unused_xp

%p
  Obligation
  = @character.total_obligation_amount

- @character.obligations.each do |obligation|
  %p
    = obligation.amount
    = obligation.name

%p
  Wound Threshold
  = @character.wound_threshold

%p
  Strain Threshold
  = @character.strain_threshold

.skills
  %h3 Skills

  .general
    %h4 General
    = render "skills", skills: @character.skills.general

  .combat
    %h4 Combat
    = render "skills", skills: @character.skills.combat

  .knowledge
    %h4 Knowledge
    = render "skills", skills: @character.skills.knowledge
