- content_for :content do

  .row
    .span2
      %ul.nav.nav-tabs.nav-stacked
        %li{class: "#{'active' if @active == :description}"}= link_to("Description", new_description_url(@character))
        %li{class: "#{'active' if @active == :background}"}= link_to("Background", new_background_url(@character))

    .span10
      - if @character.present?
        .character_details.row.well
          %dl.dl-horizontal.span2
            %dt Name
            %dd= @character.name

            %dt Species
            %dd Droid

            %dt Career
            %dd Bounty Hunter

          %dl.dl-horizontal.span2
            %dt Credits
            %dd 400

            %dt Encum
            %dd 0/7

            %dt Oblig/Duty
            %dd 15/0

          .span5.characteristics_details
            %table.table-condensed
              %tr
                %td 2
                %td 2
                %td 2
                %td 2
                %td 2
                %td 2
              %tr
                %td Brawn
                %td Agility
                %td Intellect
                %td Cunning
                %td Willpower
                %td Presence

            %table.table-condensed
              %tr
                %td Wound
                %td Strain
                %td Defense
                %td Soak

              %tr
                %td 12
                %td 12
                %td
                  %table.table-condensed
                    %tr
                      %td 1
                      %td 1
                    %tr
                      %td Ranged
                      %td Melee
                %td 3

      = yield

= render template: "layouts/application"
