- content_for :content do
  .row
    .span2
      %ul.nav.nav-tabs.nav-stacked
        %li{class: "#{'active' if @active == :description}"}= link_to("Description", edit_description_url(@character))
        %li{class: "#{'active' if @active == :background}"}= link_to("Background", edit_background_url(@character))
        %li{class: "#{'active' if @active == :obligation}"}= link_to("Obligation", edit_obligation_url(@character))
        %li{class: "#{'active' if @active == :duty}"}= link_to("Duty", edit_duty_url(@character))
        %li{class: "#{'active' if @active == :species}"}= link_to("Species", edit_species_url(@character))

    .span10
      - if @character.present?
        #character_details

      = yield

= render template: "layouts/application"

:javascript
  $().ready(function() {
    window.Details = {
      update: function() {
        $.ajax({ url: "#{details_character_url(@character, params.merge(format: 'js'))}" });
      }
    };
    Details.update();
  });
