- content_for :content do
  .row
    .span2
      %ul.nav.nav-tabs.nav-stacked
        %li{class: "#{'active' if @active == :show}"}= link_to("Character", character_url(@character))
        %li{class: "#{'active' if @active == :name}"}= link_to("Name", character_build_url(:name, character_id: @character.id))
        %li{class: "#{'active' if @active == :base_obligation}"}= link_to("Party Size", character_build_url(:party_size, character_id: @character.id))
        - if @character.base_obligation?
          %li{class: "#{'active' if @active == :obligations}"}= link_to("Obligation", character_build_url(:obligation, character_id: @character.id))
        %li{class: "#{'active' if @active == :species}"}= link_to("Species", character_build_url(:species, character_id: @character.id))
        %li= link_to("Starting Career", "")
        %li= link_to("Specializations", "")
        %li= link_to("Invest Experience", "")

    .span8
      = yield

= render template: "layouts/application"
